<div class="hero-unit">
	<img alt="Marvin Zindler" src="/Content/images/marvin_zindler.jpg" />
	<h1>Zindler</h1>
	<div>
		<p>Restaurant Inspection Reports</p>
		<p>Created during the <a href="http://www.houstonhackathon.com/">Houston Innovation Hackathon</a> 2013.</p>
	</div>
	<hr/>
	<div>
		<h4>Team</h4>
		<p><a href="http://twitter.com/davidsavagejr">@davidsavagejr</a></p>
		<p><a href="http://twitter.com/derans">@derans</a></p>
		<p><a href="http://twitter.com/jbasilio">@jbasilio</a></p>
	</div>
</div>
