<div class="input-append">
	<input class="input-large" id="searchBox" type="text" placeholder="Restaurant name..." />
	<span class="add-on"><i class="icon-search"></i></span>
</div>
<div class="container-fluid" style="height: 700px; overflow-y: auto" data-bind="foreach: restaurants">
	<div class="well">
		<span class="badge badge-important" data-bind="text: AverageRating"></span>
		<img data-bind="attr:{src: Photo, alt: Name}" />
		<img data-bind="attr:{src: RatingImage, alt: AverageRating}" />
		<h4 data-bind="html: Name"></h4>
		<p data-bind="text: Address.StreetLine1"></p>
		<p>NO VIOLATIONS</p>
	</div>
</div>
