<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
    <add key="Yelp.AccessToken" value="r9VsnmW7Ev6KIaYxYPe_IlghIbASLbAW"/>
    <add key="Yelp.AccessTokenSecret" value="oyvssw5HfEur3l0KCSfCiGDw9xc"/>
    <add key="Yelp.ConsumerKey" value="WXq7W3mul0YhZx7CjzZQag"/>
    <add key="Yelp.ConsumerSecret" value="gglVTJncGW96CM0h1wy_fUdHlxY"/>
	</appSettings>
</configuration>