<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
    <add key="Yelp.AccessToken" value="TEMP"/>
    <add key="Yelp.AccessTokenSecret" value="TEMP"/>
    <add key="Yelp.ConsumerKey" value="TEMP"/>
    <add key="Yelp.ConsumerSecret" value="TEMP"/>
	</appSettings>
</configuration>