<div id="mainPage">
    <div id="applicationHost">
        Loading...
    </div>
</div>

@section Scripts
{
	@*    @if (HttpContext.Current.IsDebuggingEnabled)
    {
	    *@
	<script src="@Url.Content("~/App/durandal/amd/require.js")" data-main="@Url.Content("~/App/main.js")"></script>
@*
    }
    else
    {
        <script src="@Url.Content("~/App/durandal/amd/require.js")" data-main="@Url.Content("~/App/main-built.js")"></script>
    }*@
}