<div class="container">
	<div class="pull-left">
	<img alt="Marvin Zindler" src="~/Content/images/marvin_zindler.jpg" />
	</div>
	<div class="hero-unit pull-right">
		<h1>Zindler</h1>
		<div>
			<p>Restaurant Inspection Reports</p>
		</div>
	</div>
</div>
